<!DOCTYPE html>
<html ng-app="gemStore">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>

  <body ng-controller="StoreController as store">
    <!--  Store Header  -->
    <header>
      <h1 class="text-center">Primera Aplicación AngularJS</h1>
      <h2 class="text-center">Tienda de Piedras Preciosas</h2>
    </header>

    <!--  Products Container  -->
    <div class="list-group">
      <!--  Product Container  -->
      <div class="list-group-item" ng-repeat="gem in gems" ng-if="!gem.soldOut">
        <h3>
          {{gem.name}}:<em class="pull-right">{{gem.price}}</em>
        </h3>
        <div ng-controller="GalleryController as gallery" ng-if="gem.images">
          <div class="img-wrap">
            <img src="{{gem.images[current]}}"/> 
          </div>
          <ul class="img-thumbnails clearfix">
            <li ng-repeat="image in gem.images" class="small-image pull-left thumbnail">
              <a href ng-click="setCurrent($index)"><img src="{{image}}" /><a/>
            </li>
          </ul>
        </div>
        <button ng-if="gem.canPurchase">Añadir al carrito</button>
        <product-tabs></product-tabs>
      </div>
    </div>
  </body>
</html>